.jam {
  position: absolute;
  top: 0;
  left: 0;
  color: azure;
  font-family: "Segoe UI";
}
/*Tombol*/
.dropdown-btn {
  color: black;
  text-align: center;
  padding: 14px 16px;
  position: absolute;

  right: 10px;
  top: 10px;
  text-decoration: none;
  background: rgba(178, 230, 243, 0.804);
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 20px rgba(255, 255, 255, 0.409);

  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  cursor: unset;
}
.dropdown-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
/* Dropdown container */
.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  top: 55px;
  background-color: #325969;
  color: white;
  min-width: 220px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  z-index: 1000;
  border-radius: 4px;
}

/* item di dalam dropdown */
.dropdown-content a {
  display: block;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  transition: background 0.2s;
  cursor: unset;
  user-select: none;
  -webkit-user-select: none;
}

.dropdown-content a:hover {
  background: #a85151;
}
.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown.open > .dropdown-content {
  display: block;
}
