.ipalimg {
  border-radius: 15px;
}

.gambarIPAL {
  position: relative;
  margin: auto;
  padding: 10px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}
.tulisan {
  background: none;
  display: contents;
  list-style: disc;
}
.link {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  text-align: left;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(22, 84, 155);
}
.link:hover {
  background-color: blueviolet;
}
.konten2 {
  text-decoration: none;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

@media (max-width: 500px) {
  .slides {
    width: 300px;
  }
}
